name: CI

on: push

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-24.04
        varnish:
          - varnish77
          - varnish80
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Cache Rust dependencies
      uses: Swatinem/rust-cache@v2
      with:
        prefix-key: ${{ matrix.os }}-${{ matrix.varnish }}

    - name: Install Varnish from packagecloud
      run: |
        curl -s https://packagecloud.io/install/repositories/varnishcache/${{ matrix.varnish }}/script.deb.sh | sudo bash
        sudo apt-get update
        sudo apt-get install -y varnish varnish-dev

    - name: Run tests
      run: |
        cargo build
        LD_LIBRARY_PATH=$PWD/target/debug:$LD_LIBRARY_PATH cargo test
